<!doctype html>
<html lang="pt-br">

<head>
    <title>Form</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <link href="../css/player_interface.css" rel="stylesheet">

</head>

<body>

<div class="container">
    <!--Card de Um Tipo de Inventario -->
    <div id="temp" class="card row">

        <!-- titulo do card -->
        <div class="card-header col-12 col-md-4">
            <strong class="d-inline-block mb-2 text-success">Inventário</strong>
            <h3 class="mb-0">
                <a class="text-dark" href="#">EX: Mochila:</a>
            </h3>
        </div>
        <!-- titulo do card Fim-->

        <!-- lista de itens-->
        <div id="max_tamanho" class="card-body col-12 col-md-8">

            <!-- Item -->
            <div class="m-lg-2 border-top-0">
                <!-- Nome e peso Item -->
                <div class="btn-group dropdown container-fluid mb-1 rounded">
                    <a href="#" class="list-group-item list-group-item-action dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Nome</h5>
                            <small>peso</small>
                        </div>
                    </a>
                    <!-- Nome e peso Item Fim-->

                    <!-- Item dropdown -->
                    <ul class=" dropdown-menu dropdown-menu-dark dropdown-menu-macos mx-0 border-0 shadow "
                        style="width: 220px;">
                        <li><a class="dropdown-item" href="#">Equipar</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item 1" href="#">Mosrtrar Detalhes</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Deletar</a></li>
                    </ul>
                    <!-- Item dropdown Fim-->
                </div>
            </div>
            <!-- Item Fim-->
        </div>
        <!-- lista de itens Fim-->
    </div>
    <!--Card de Um Tipo de Inventario Fim-->
</div>


    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>